iterrows and iteritems are used to iterate over dataframes with a loop

https://www.youtube.com/watch?v=njeJ5WOmlJk

In [2]:
import pandas as pd

In [7]:
data = {
    "No" : [1, 2, 3],
    "Name" : ['Alex', 'Maria', 'John'],
    "Percentage" : [80, 85, 89]
}
df = pd.DataFrame(data, index = ['index1', 'index2', 'index3'])
df

        No   Name  Percentage
index1   1   Alex          80
index2   2  Maria          85
index3   3   John          89

## **Get column names**

In [32]:
for i in df:
  print(i)

No
Name
Percentage

In [33]:
df.columns

Index(['No', 'Name', 'Percentage'], dtype='object')

## **iterrows()**

In [8]:
# assuming the dataframe is df
for i in df.iterrows():
  print(i)

('index1', No               1
Name          Alex
Percentage      80
Name: index1, dtype: object)
('index2', No                2
Name          Maria
Percentage       85
Name: index2, dtype: object)
('index3', No               3
Name          John
Percentage      89
Name: index3, dtype: object)

In [10]:
print(df)
print()
for (i,j) in df.iterrows():
  print(i)
  print(j)

        No   Name  Percentage
index1   1   Alex          80
index2   2  Maria          85
index3   3   John          89

index1
No               1
Name          Alex
Percentage      80
Name: index1, dtype: object
index2
No                2
Name          Maria
Percentage       85
Name: index2, dtype: object
index3
No               3
Name          John
Percentage      89
Name: index3, dtype: object

## **iteritems()**

In [16]:
print(df)
print()
for i in df.iteritems():
  print(i)

        No   Name  Percentage
index1   1   Alex          80
index2   2  Maria          85
index3   3   John          89

('No', index1    1
index2    2
index3    3
Name: No, dtype: int64)
('Name', index1     Alex
index2    Maria
index3     John
Name: Name, dtype: object)
('Percentage', index1    80
index2    85
index3    89
Name: Percentage, dtype: int64)

In [14]:
print(df)
print()
for col,colSeries in df.iteritems():
  print(col)
  print(colSeries)

        No   Name  Percentage
index1   1   Alex          80
index2   2  Maria          85
index3   3   John          89

No
index1    1
index2    2
index3    3
Name: No, dtype: int64
Name
index1     Alex
index2    Maria
index3     John
Name: Name, dtype: object
Percentage
index1    80
index2    85
index3    89
Name: Percentage, dtype: int64

In [15]:
print(df)
print()
for col,colSeries in df.iteritems():
  print(col)
  for i in colSeries:
    print(i)

        No   Name  Percentage
index1   1   Alex          80
index2   2  Maria          85
index3   3   John          89

No
1
2
3
Name
Alex
Maria
John
Percentage
80
85
89

In [29]:
for i, row in df.iterrows():
    print(i, row[0], row[1], row[2])

index1 1 Alex 80
index2 2 Maria 85
index3 3 John 89

In [24]:
# i shows the index
# As shown above, we do not have to give column names. The above code and this one give the same output.
for i, col in df.iterrows():
    print(i, col['No'], col['Name'], col['Percentage'])

index1 1 Alex 80
index2 2 Maria 85
index3 3 John 89

## **List Comprehension**
get a list of one column

In [19]:
list_name = [i for i in df['Name']]
list_name

['Alex', 'Maria', 'John']

## **itertuples()**
Iterate Rows with Index and each Row as a List.

DO NOT try to change data in the df this way, but it is convenient for iterating.

Itertuples is supposed to be much faster than Iterrows for large datasets.

In [27]:
for row in df.itertuples(name=None): 
    print(row[0], row[1], row[2], row[3])

index1 1 Alex 80
index2 2 Maria 85
index3 3 John 89